$font-family_1: "DiabloHeavy", sans-serif;

@font-face {
  font-family: "DiabloHeavy";
  src: url("../fonts/diabloh.eot");
  src: url("../fonts/diabloh.eot?#iefix") format("embedded-opentype"),
    url("../fonts/diabloh.otf") format("opentype"),
    url("../fonts/diabloh.svg") format("svg"),
    url("../fonts/diabloh.ttf") format("truetype"),
    url("../fonts/diabloh.woff") format("woff"),
    url("../fonts/diabloh.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
.font-diablo {
  font-family: $font-family_1;
}
.hero-barbarian {
  background-image: url("../img/heroes-faces.png");
  background-size: 203%;
  width: 136px;
  height: 106px;
}
.hero-witch-doctor {
  background-image: url("../img/heroes-faces.png");
  background-size: 203%;
  width: 136px;
  height: 106px;
}
.hero-demon-hunter {
  background-image: url("../img/heroes-faces.png");
  background-size: 203%;
  width: 136px;
  height: 106px;
}
.hero-wizard {
  background-image: url("../img/heroes-faces.png");
  background-size: 203%;
  width: 136px;
  height: 106px;
}
.hero-monk {
  background-image: url("../img/heroes-faces.png");
  background-size: 203%;
  width: 136px;
  height: 106px;
}
.hero-necromancer {
  background-image: url("../img/heroes-faces.png");
  background-size: 203%;
  width: 136px;
  height: 106px;
}
.hero-crusader {
  background-image: url("../img/heroes-faces.png");
  background-size: 203%;
  width: 136px;
  height: 106px;
}
.hero-barbarian.male {
  background-position: 0 0;
}
.hero-barbarian.female {
  background-position: 100% 0;
}
.hero-witch-doctor.male {
  background-position: 0 16.538462%;
}
.hero-witch-doctor.female {
  background-position: 100% 16.538462%;
}
.hero-demon-hunter.male {
  background-position: 0 33.247754%;
}
.hero-demon-hunter.female {
  background-position: 100% 33.247754%;
}
.hero-wizard.male {
  background-position: 0 50%;
}
.hero-wizard.female {
  background-position: 100% 50%;
}
.hero-monk.male {
  background-position: 0 66.666667%;
}
.hero-monk.female {
  background-position: 100% 66.666667%;
}
.hero-necromancer.male {
  background-position: 0 83.333333%;
}
.hero-necromancer.female {
  background-position: 100% 83.333333%;
}
.hero-crusader.male {
  background-position: 0 100%;
}
.hero-crusader.female {
  background-position: 100% 100%;
}
.act {
  background-image: url("../img/progress.png");
  background-size: 500%;
}
.act.act1.pending {
  background-position: -1px 0;
}
.act.act1.done {
  background-position: -1px 57px;
}
.act.act2.pending {
  background-position: -51px 0;
}
.act.act2.done {
  background-position: -51px -56px;
}
.act.act3.pending {
  background-position: -101px 0px;
}
.act.act3.done {
  background-position: -101px -168px;
}
.act.act4.pending {
  background-position: -151px 0px;
}
.act.act4.done {
  background-position: -151px -168px;
}
.act.act5.pending {
  background-position: 50px 0;
}
.act.act5.done {
  background-position: 50px 57px;
}
.resource {
  .resource-icon {
    background-image: url("../img/resources.png");
    width: 50px;
    height: 50px;
  }
  .resource-icon.resource-mana {
    background-position: 0 -50px;
  }
  .resource-icon.resource-fury {
    background-position: -50px 0;
  }
  .resource-icon.resource-hatred-discipline {
    background-position: -100px 0px;
  }
  .resource-icon.resource-spirit {
    background-position: -50px -50px;
  }
  .resource-icon.resource-arcane-power {
    background-position: -100px -50px;
  }
  .resource-icon.resource-wrath {
    background-position: 0px -100px;
  }
  .resource-icon.resource-essence {
    background-position: -50px -100px;
  }
}
.active-skills {
  .skills {
    .slot {
      display: block;
      width: 22px;
      height: 22px;
      background: url("../img/skill-overlays.png") 0 0;
      position: absolute;
      top: -5px;
      left: 5px;
    }
    .slot.slot-1 {
      background-position: 0 -1px;
    }
    .slot.slot-2 {
      background-position: -21px -1px;
    }
    .slot.slot-3 {
      background-position: 0 -23px;
    }
    .slot.slot-4 {
      background-position: -23px -23px;
    }
    .slot.slot-5 {
      background-position: 0 -46px;
    }
    .slot.slot-6 {
      background-position: -23px -46px;
    }
  }
}
.hover-cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}
@media (min-width: 576px) {
  .hero-barbarian {
    background-size: 200%;
    width: 100%;
    height: 115px;
  }
  .hero-witch-doctor {
    background-size: 200%;
    width: 100%;
    height: 115px;
  }
  .hero-demon-hunter {
    background-size: 200%;
    width: 100%;
    height: 115px;
  }
  .hero-wizard {
    background-size: 200%;
    width: 100%;
    height: 115px;
  }
  .hero-monk {
    background-size: 200%;
    width: 100%;
    height: 115px;
  }
  .hero-necromancer {
    background-size: 200%;
    width: 100%;
    height: 115px;
  }
  .hero-crusader {
    background-size: 200%;
    width: 100%;
    height: 115px;
  }
}
@media (min-width: 768px) {
  .hero-barbarian {
    height: 161px;
  }
  .hero-witch-doctor {
    height: 161px;
  }
  .hero-demon-hunter {
    height: 161px;
  }
  .hero-wizard {
    height: 161px;
  }
  .hero-monk {
    height: 161px;
  }
  .hero-necromancer {
    height: 161px;
  }
  .hero-crusader {
    height: 161px;
  }
}
@media (min-width: 992px) {
  .hero-barbarian {
    height: 143px;
  }
  .hero-witch-doctor {
    height: 143px;
  }
  .hero-demon-hunter {
    height: 143px;
  }
  .hero-wizard {
    height: 143px;
  }
  .hero-monk {
    height: 143px;
  }
  .hero-necromancer {
    height: 143px;
  }
  .hero-crusader {
    height: 143px;
  }
}
@media (min-width: 1200px) {
  .hero-barbarian {
    height: 174px;
  }
  .hero-witch-doctor {
    height: 174px;
  }
  .hero-demon-hunter {
    height: 174px;
  }
  .hero-wizard {
    height: 174px;
  }
  .hero-monk {
    height: 174px;
  }
  .hero-necromancer {
    height: 174px;
  }
  .hero-crusader {
    height: 174px;
  }
}
